@model IEnumerable<Lab.Models.Officer>
<h2>Officers List</h2>
<br />
<a class="btn btn-success" asp-action="AddOfficer">Add Officer</a>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Department</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var officer in Model)
        {
            <tr>
                <td>@officer.Name</td>
                <td>@officer.Gender</td>
                <td>@officer.Phone</td>
                <td>@officer.Department</td>
                <td>@officer.Position</td>
                <td>
                    <a asp-action="EditOfficer" asp-route-id="@officer.Id" class="btn btn-warning btnsm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@officer.Id" class="btn btn-danger btnsm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
